@import "../../variables.scss";
@import "../../mixins.scss";

.loader {
  @include flex();
  position: relative;
}

.crystal-ball-loader {
  height: 500px;
  position: absolute;
}

.loader-msg {
  color: black;
  font-family: $primary-font;
  font-size: 2em;
  margin-top: 300px;
  position: relative;
}

.pulsate-fwd {
	-webkit-animation: pulsate-fwd 0.5s infinite both;
	        animation: pulsate-fwd 0.5s infinite both;
}

@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
