@import url('https://fonts.googleapis.com/css?family=Croissant+One&display=swap');
@import "../../mixins.scss";

.loader {
  @include flex();
  position: relative;
}

.crystal-ball-loader {
  height: 500px;
  position: absolute;
}

.loader-msg {
  color: black;
  font-family: 'Croissant One';
  font-size: 2em;
  margin-top: 300px;
  position: relative;
}
