@import "../../mixins.scss";
@import "../../variables.scss";

.favorite-container {
  @include flex();
  background-color: black;
  height: auto;
}

.back-btn {
  @include buttons();
  background-color: $primary-color;
  color: black;
  margin: 50px 50px;
  width: 135px;

    &:hover {
      background-color: white;
    }
}
