@import "../../variables.scss";
@import "../../mixins.scss";

.login-form {
  @include flex();
  justify-content: center;
  margin-top: 410px;
  position: absolute;
  z-index: 5;
}

.login-form input {
  @include input();
  height: 30px;
  text-indent: .5em;
  width: 160px;
}

::placeholder {
  color: white;
}

.login-submit-btn {
  @include buttons();
  height: 25px;
  width: 100px;
}

.error-message {
  color: $primary-color;
  font-family: $primary-font;
  font-size: 1.5em;
  margin-top: 150px;
}
