@import url('https://fonts.googleapis.com/css?family=Croissant+One&display=swap');
@import "../../mixins.scss";

.preview-container {
  @include flex();
}

.saved-title {
  font-family: 'Croissant One';
  font-size: 1.5em;
  margin-bottom: 30px;
}
