@import "../../variables.scss";
@import "../../mixins.scss";

.preview-container {
  @include flex();
  background-color: black;
  height: auto;
}

.saved-title {
  font-size: 1.5em;
  margin-bottom: 30px;
}

.saved-error {
  color: $primary-color;
}
