@import "../../mixins.scss";

.deck {
  align-items: center;
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  justify-content: space-around;
  padding: 0 5%;
}

.deck-title {
  font-family: 'Croissant One';
  font-size: 1.5em;
  text-align: center;
  width: 100%;
}

.btn-container {
  display: flex;
  height: 30px;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.btn-container button {
  margin-top: 0;
  position: relative;
}
