@import url('https://fonts.googleapis.com/css?family=Croissant+One&display=swap');
@import "../../mixins.scss";

.card-container {
  @include flex();
}

.question {
  color: #D5A1EE;
  font-family: 'Croissant One';
  margin-bottom: 25px;
}

.cards {
  display: flex;
  flex-direction: row;
  margin: 10px 0px 40px 0px;
}
