.banner-text {
  height: 200px;
  margin-top: 50px;
}

.crystal-ball-img {
  height: 450px;
  margin-top: 160px;
  position: absolute;
}

.login-page {
  align-items: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
  position: relative;
}
