@import "../../variables.scss";
@import "../../mixins.scss";

* {
  font-family: $secondary-font;
  margin: 0;
  padding: 0;
}

main {
  color: white;
  background-color: black;
  height: 100vh;
}

.banner-text {
  height: 200px;
  margin-top: 50px;
}

.crystal-ball-img {
  height: 500px;
  margin-top: 140px;
  position: absolute;
}

.login-page {
  @include flex();
  height: auto;
  padding: 20px;
  position: relative;
}
