@import url('https://fonts.googleapis.com/css?family=Croissant+One&display=swap');
$primary-font: 'Croissant One';

@import url('https://fonts.googleapis.com/css?family=Spartan:400,700&display=swap');
$secondary-font: 'Spartan';

$primary-color: #C7A2CD;
